*{
    font-family: "gabarito", sherif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    align-items: center;

}

.navbar__s1__title{
    color: blueviolet;
    align-items: center;
}

.navbar__s2{
    padding: 10px;
    border: solid black 3px;
    border-radius: 100px;
    display: flex;
    width: 60%;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    font-size: 16px;
    
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    font-size: 15px;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.categories p{
    background:#6d28d9;
    color:white;
    padding:12px 20px;
    border-radius:25px;
    transition:.4s;
    cursor:pointer;
}

.categories p:hover{
    background:black;
    transform:translateY(-5px);
}

.sale-image img{
    width: 100%;
}

.Recommended{
    padding: 10px;
}

.Recommended__Container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
}

.coursecard{
    width:250px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition:0.4s;
    position:relative;
    cursor:pointer;
    margin:15px;
}

.coursecard img{
    width:100%;
    height:190px;
    object-fit:cover;
    transition:0.5s;
}

.coursecard h3,.coursecard p{
    padding-left:15px;
    padding-right:15px;
}

.coursecard h3{
    margin-top:15px;
}

.coursecard p{
    margin:8px 0;
}

.coursecard:hover{
    transform:translateY(-12px);
    box-shadow:0 15px 30px rgba(0,0,0,.25);
}

.coursecard:hover img{
    transform:scale(1.08);
}

.s {
    color: grey;
    text-decoration:line-through;
}
.topics{
    padding: 10px;

}

.topic__container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
}

.topic__container p{
     border: solid grey 2px;
    margin: 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}

.topic__container p:hover{
    background-color: black;
    color: white;
}

.popular{
    padding: 10px;
    margin-top: 10px;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 200px;
    margin-top: 10px;
}

.footer{
    background-color: black;
    color: white;
    padding: 30px;
}

.footer__one{
    display: flex;
    gap: 20px;
   
}

.footer__one p{
    margin: 20px;
}

.footer__two{
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    display: flex;
}
